body {
  background-color: rgb(25, 21, 26);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 0 30px white;
  box-sizing: border-box;
  animation: 0s ease 0s 1 normal none running none;
}

.container {
  padding: 1rem 0;
}

.container div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu div {
  margin-bottom: 1rem;
}

label {
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 0 30px white;
  box-sizing: border-box;
  animation: 0s ease 0s 1 normal none running none;
}

.interruptor * {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 1rem;
}

#start {
  background-image: url('assets/vectorpaint-start.svg');
  background-repeat: no-repeat;
  background-size: calc(100% - 10px);
  background-position-x: 70%;
  background-position-y: center;
  border: #fff solid;
  border-radius: 50%;
  cursor: pointer;
}



#stop {
  background-image: url('assets/vectorpaint.svg');
  background-repeat: no-repeat;
  background-size: calc(100% - 10px);
  background-position: center;
  border: #fff solid;
  border-radius: 50%;
  cursor: pointer;
}



.row-settings {
  align-self: flex-start;
  margin-left: 0.4rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.row-settings *{
  font-family: sans-serif;
  text-shadow: 0 0 35px white;
  animation: 0s ease 0s 1 normal none running none;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
}

.remove-row {
  color: rgba(189, 11, 11, 0.87);
  cursor: pointer;
}

.remove-row:hover {
  color: rgb(219, 14, 14);
  transition: color ease-in 0.5s ;
}

.new-row {
  color: rgba(6, 90, 6, 0.842);
  cursor: pointer;
}

.new-row:hover {
  color: rgba(7, 146, 7, 0.842);
transition: color ease-in 0.5s ;
}

.light-ball {
    display: inline-block;
    background-color: #2349c57a;
    border-radius: 50%;
    position: relative;
    width: 13%;
    height: 0;
    padding-bottom: 13%;
    margin-right: auto;
    opacity: 1;
}
.bright{
    animation: glow 0.5s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      box-shadow: 0 0 10px -5px #2349c500;
      background-color: #2349c57a;
    }
    to {
      box-shadow: 0 0 15px 4px #2349c5;
      background-color: #2349c5;
    }
  }

.modal{
    display: none;
    background-color: rgb(54, 57, 94);
    width: 80vw;
    height: 6rem;
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: display ease-out 1s;
}

.close-modal {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.color {
  background-color: inherit;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.button {
  height: fit-content;
  width: fit-content;
  background-color: rgba(25, 25, 112, 0.671);
  color: inherit;
  font-family: inherit;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
/*range button*/
.range-container{
  width: auto;
  display: flex;
  align-items: center;
}
#speed{
  margin-left: 10px;
  direction: rtl;
}
#intensity{
  margin-left: 10px;
}
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100px;
  background-color: inherit;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2349c57a;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2349c5;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #2349c5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2349c5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2349c5;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2349c5;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #2349c5;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2349c5;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2349c5;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 2px solid #2349c5;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #2349c5;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2349c5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2349c5;
}
